// 
// footer.scss
//

.footer {
    bottom: 0;
    padding: 21px 15px 20px;
    position: absolute;
    right: 0;
    color: $gray-600;
    left: $leftbar-width;
    background-color: darken($body-bg,2%);
}

@include media-breakpoint-down(sm) {
    .footer {
        left: 0 !important;
        text-align: center;
    }
}