/* =============
   Sitemaps
============= */

.sitemap > li > ul {
  margin-top: 1.5rem;
  padding-left: 0;
}

ul.sitemap {
  list-style: none;
  padding-left: 0;

  li {
    line-height: 2.5rem ;
    vertical-align: top ;
    list-style: none;
    position: relative ;

    a {
      text-decoration: none ;
      color: darken($text-muted,10%);
      display: inline-block ;

      &:hover {
        color: $primary;
      }
    }
  }


  ul {
    margin-left: 1.5rem ;
    margin-bottom: 1.5rem ;
    padding-top: 10px;

    li {
      position: relative ;
      &::before {
        content: "" ;
        display: inline-block ;
        width: 1.5rem * 2 ;
        height: 100% ;
        border-left: 1px solid rgba($text-muted,0.5) ;
        position: absolute ;
        top: -2.5 / 2 ;
      }


      &::before {
        content: "" ;
        display: inline-block ;
        width: 1.5rem * 2 ;
        height: 2.5rem ;
        border-bottom: 1px solid $gray-400 ;
        position: absolute ;
        top: -1.25rem;
      }
      a {
        margin-left: 1.5rem * 2.5 ;
      }
    }
  }
}

ul.sitemap-icon {
  ul li a {
    margin-left: 3rem;
  }
}